* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Roboto, 'Open Sans', 'Segoe UI', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #eee;
	font-size: 18px;
	line-height: 1.3;
}

.wrapper {
	position: relative;
	max-width: 900px;
	margin: 1em auto;
	background: #fff;
	padding: 1em;
}

h1 {
	font-size: 1.5em;
	margin-top: 1em;
}

h2 {
	font-size: 1em;
	margin-bottom: 0;
}

p {
	margin: 1em 0;
}

a {
	color: #33aaff;
	text-decoration: none;
	border-bottom: 1px solid;
}

a:hover, a:focus {
	color: #528CE0;
}

input {
	font-family: Roboto, 'Open Sans', 'Segoe UI', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	padding: 3px 10px;
	vertical-align: middle;
}

label {
	vertical-align: middle;
}

.pikaday-container {
	display: block;
	width: 320px;
	max-width: 100%;
}

.output {
	padding: 5px;
	background: #33aaff;
	color: #fff;
	line-height: 1.5em;
	min-height: 1.5em;
	width: 320px;
	max-width: 100%;
	margin: 0;
}
.output:before {
	content: "> ";
}

